{% extends "base.html" %}
{% load static %}

{% block title %} Delete Playlist | Streaming Playlist {% endblock %}

{% block content %}


<div class="container d-flex justify-content-center mt-5" style="width: 50%;">
    <div class="col mt-5 text-center">
        <h1 class="mb-5">Delete Playlist</h1>

        <p class="h5">Are you sure you want to delete the Playlist:</p>
        <h3 class="my-5">{{ playlist.name }}</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary btn-lg" value="Confirm" style="margin-right: 30px; margin-top: 30px;">
            <a class="btn btn-danger btn-lg" href="{% url 'playlist:list_playlist' %}" style="margin-top: 30px;"> Cancel</a>
        </form>
    </div>
</div>




{% endblock content %}